/**
 * File Name: _passwordAuthentication.scss
 *
 * Styling for employee number/secret question authentication
 */


$inputBorderColor: #818181 !default;
$messageColor: #0082c8 !default;
$errorMessage: #ff4c4c !default;
$warnMessage: #ffa800 !default;

$loading-circle-size: 15px !default;

#passwordAuthentication {
  min-width: $min-content-width;
  max-width: $max-content-width;
  margin: 0 auto;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
  }

  .branding {
    // Survey title
    .survey-name {
      margin: 30px 0;
      font-size: 3em; 
    }
  }

  .authentication_wrapper {
    min-width: $min-content-width;
    max-width: $max-content-width;
  }

  #respondentId {
    padding-left: 2% !important;
    border-left: 1px solid #DDDDDD;
  }
  #password {
    margin-right: 1% !important;
  }
  #respondentId, #password {
    display: inline-block;
    max-width: 46%;
    margin: 0px;
    vertical-align:top;

    input {
      font-size: 12pt;
      border: 1px solid $inputBorderColor;
      border-radius: 5px;
      padding: 5px;
      max-width: 300px;
      margin: 0 auto;

      &[type='text'], &[type='password'] {
        width: 90%;
        height: 18pt;
        letter-spacing: 1px;

        &.valid {
          border-color: green;
        }
      }

      &:active, &:focus {
        border-color: lighten($inputBorderColor, 20%);
      }
    }
    
    // Secret question header
    .secret {
      margin: 1em auto 0 auto;
    }
    
    // Secret question subtitle
    .subtitle {
      margin: 1em auto;
      color: #777777;
      font-weight: 400;
      font-size: 17.5px;
    }

    .showPasswordCheckbox {
      margin-top: 15px;

      label {
        display: inline-block;
      }
    }
  }

  button#autologin_first_time {
    @extend .btn;
    @extend .btn-info;
        
    height: 2em;
    min-width: 6em !important;
    margin: 1em 0 !important;
    font-size: 20px !important;

    &:disabled, &[disabled] {
      opacity: 0.65;
      // background-color: lighten($inputBorderColor, 20%);
    }
  }
  button#submit {
    @extend .btn;
    @extend .btn-success;
        
    height: 2em;
    min-width: 6em !important;
    margin: 1em 0 !important;
    font-size: 20px !important;

    &:disabled, &[disabled] {
      opacity: 0.65;
      // background-color: lighten($inputBorderColor, 20%);
    }
  }

  #message {
    min-height: 20px;
    margin: 1em 15%;
    font-size: 1.15em;
    font-weight: bold;
    color: $messageColor;

    &.error {
      color: $errorMessage !important;
    }

    &.warn {
      color: $warnMessage !important;
    }
  }

  .survey-nav {
    margin-top: 0;
  }

  .footer_logos {
    min-height: 175px;
    margin-bottom: 30px;

    .client {
      float: left;
      //margin-top: 25px;
      margin-left: 30px;
    }
    .-bpanz {
      float: right;
      margin-right: 40px;
    }
  }
}

// Hide these elements from view initially, when the script loads it will show
// the correct element based upon testing the participant id
.isAccessCode, .notAccessCode {
  display: none;
}

// Password box on survey pages
.header {
  .password {
    float: left;
    max-width: 220px;
    margin-top: 10px;
    margin-left: 5%;
    font-size: 1em;
    line-height: 1.5em;

    p { margin: 0; }

    #password {
      display: none;
      height: 2em; // Fix height to stop it jumping around
      color: green;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 2em;
      
      &.-invalid {
          color: red;
      }
    }
    
    .larger {
        font-size: 17px;
    }
  }
}
