/**
 * File Name: _header.scss
 * File Author: Todd Johnson
 * File Creation Date: 15/10/2014
 *
 * Best Practice Australia styles for eSurvey
 *
 * Contains Styling Related to the Header on each eSurvey page.
 */

.header {
	display: inline-block;
 	width: 100%;

 	.header-bar {
		position: relative;
		float: left;
		width: 94%;
		margin: 20px 3% 10px;
		padding: 5px;
		border-bottom: 2px black solid;
		text-shadow: 2px 2px rgba(150, 150, 150, 0.5);

		@include box-sizing(border-box);

		&.-no-title{
			height:22px;
		}

		h1 {
			color: rgb(50, 54, 62);
			font-size: 28px;
			margin: 0px;
		}

 	}
}

.header__logo {
	float: left;
	padding: 10px 25px;
	line-height: 0;

	&.-client {
		// margin-top: 25px;

		img {
			max-height: 150px;
		}

		img + img {
			margin-left: 30px;
		}
	}
	&.-bpanz {
		float: right;
	}
}

/* Print layout */
@media print {
	.header {
		.header-bar {
			border-bottom: 2px solid #333333 !important;

			h1 {
				color: #000000 !important;
				font-size: 1.5em;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-shadow: none;
			}
		}
	}

	// Remove branding and logos
	.header__logo {
		// display: none;
	}
}
