/**
 * File Name: _issues_concice.scss
 * Original File Author: Todd Johnson
 * OriginalFile Creation Date: 15/10/2014.
 *
 * File Refactor Author(s): Alex McNeill, Ashley Dunbabin, Anita Diamond.
 * File Refactor Date: 18/03/2015.
 * Best Practice Australia styles for eSurvey
 *
 * All styling for the Issues That Matter Table.
 */

$issues-row-height: 2em !default;


.issues {
  margin-top: 20px;
  margin-bottom: 40px;

  .mrQuestionTable {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
    line-height: $issues-row-height;
    text-align: center;
  }

  .header__row td {
    width: 140px;
    border: 1px solid $issues-border-color;
    border-left: 0;
    background: white !important;
    text-align: center;
  }
  
  &.-integrity {
    table tbody tr td:first-child {
      text-align: left;
    }
  }
  
  span[id^=Cell] {
    height: 100%;
    width: 33% !important;
    text-align: center;
    box-sizing: border-box;
    
    input {
      margin: 0 !important;
      padding: 0;
    }
  }

  tr {
    border-right: 1px solid $issues-border-color;
    border-top: 1px solid #E3E3E3;
    td {
      width: 390px;
      border-right: 1px solid $issues-border-color;
      min-height: $issues-row-height;
      padding: 0;
    }
    td:first-child {
      padding: 7px 14px;
      text-align: right;
    }
    &.row__title {
      background: white;
      border-top: 1px solid $issues-border-color;
      border-bottom: 1px solid $issues-border-color;
      border-right: 0;
      td {
        text-align: left !important;
        padding: 0 0 0 14px !important;
        border-right: 0;
      }
      &:hover {
        background-color: #FFFFFF;
      }
    }
    &:hover {
      background-color: #EEEEEE !important;
    }
  }
  tr:not(.row__title):nth-child(odd) {
    background-color: #F5F5F5;
  }
  tr:first-child {
    border-top: 0;
  }
  tr:last-child {
    border-bottom:1px solid $issues-border-color;
  }

  &.four-wide {
    .header__row .-fixed {
      width: 270px;
    }
    .mrQuestionTable {
      span[id^=Cell] {
        width: 25% !important;
      }
    }
    .question_response {
      textarea {
        height: 5em;
      }
    }
  }

  &.-initiatives {
    tr {
      &.header__row {
        td:nth-child(2) {
          padding: 0 10px;
        }
      }
      td {
        h3 {
          margin: 0.5em 0 0 0;
        }
        p {
          margin-bottom: 0.5em;
        }
        .question_title {
          padding: 8px;
        }
        .mrQuestionTable {
          text-align: left;
        }
        &.vertical_radios {
          padding-left: 40px;
          label {
            font-size: 13px;
            line-height: 2em;
            margin-left: 8px;
          }
        }
        &.empty {
          border-top-color: transparent !important;
          border-left-color: transparent !important;
        }
        &.progress_level {
          border-top: 1px solid $issues-border-color !important;
          background-color: rgb(230, 230, 230);
          text-align: center;
          font-weight: 700;
        }
        &.initiative_title {
          text-align: right;
          p {
            line-height: 1.5em;
            font-weight: 700;
            margin-bottom: -8px;
            &:last-child {
              font-weight: 300;
              margin-bottom: 8px;
            }
          }
        }
        &:first-child {
          text-align: left;
          border-left: 1px solid;
        }
        &:nth-child(2) {
          width: 15%;
        }
        &:last-child {
          width: 46%;
        }
      }
    }
  }


}

/* Print layout */
@media print {
  .issues {
    margin-bottom: 20px;

    tr {
      td {
        padding: 1px 14px !important;
        line-height: 1.4em;
      }
      td:first-child {
        padding: 5px 14px;
      }
    }
    tr.header__row {
      .question_title {
        &.-no_shadow {
          padding: 0 14px;
        }
      }
    }
    &.-integrity {
      tr {
        td {
          padding: 7px 14px !important;
        }
      }
    }
  }
}